black @ git+https://github.com/psf/black@3e9dd25dadb2a3fb02b1936d874173808020c481
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
idna==3.10
jsonpath==0.82.2
jsonpath-ng==1.7.0
kafka-python-ng==2.2.3
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
ply==3.11
requests==2.32.3
shapely==2.0.2
urllib3==2.3.0
